.col-3{
    background-color: rgb(194, 237, 211);
}

.sticky-container {
    position: sticky;
    top: 88px !important;
}

.col-14{
    background-color: rgb(156, 181, 230);
}

.container.page {
    margin-top: 1.3rem ;
}



.page .ant-row {
    margin-bottom: .5rem;
}

.page .bread-row {
    margin-bottom: 1.5rem;
}


.result img {
    width: 100%;
    height: 100%;
}

.result-pagination {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.filter-panel {
    padding: 16px 0;
    border-bottom: 1px solid #c5cbd5;
    border-top: 1px solid #c5cbd5;
    margin-bottom: 30px;
    max-height: calc(100vh - 223px);
    overflow: auto;
}

.filter-panel .ant-card{
    border-radius: 0%;

}

.filter-panel .ant-card-head-title {
    font-size: 13px;
   
}
.filter-panel .ant-card-head {
    border-bottom: transparent;
    padding-bottom: 0.2rem;

}

.filter-panel .ant-card {
    border-bottom: 0.5px solid rgb(181, 180, 180);
}

.filter-panel .ant-card>div{
 padding: 5px 24px;
}