.container{
    background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).webp")no-repeat center center;
    background-size: cover;
    padding: 50px 0;
   
}
.form{
    background-color: rgba(255,255,255, .7 );
    border-radius: 20px;
   
}
.form .box {
  
}
.form form {
    padding-top: 0;
    margin-top: 4px;
}
.google_guide_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}
.google_guide_container p {
    padding: 0 5px;
    margin: 0;
}
.hr_left,.hr_right{
    width: 29%;
    height: 1px;
    background-color: #cccccc;
}
.signIn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.signIn a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.signIn a span {
    color: #1976d2;
}
.css-jr9h65{
    padding-top: 0;
}
.test{
    height: 100%;
}
.Verification_form{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.Verification_form form {
    height: 320px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 20px;
    opacity: .8;
    text-align: center;
}
.Verification_form form input {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 10px;
}
.Verification_form form {
    padding: 20px 20px 0px 20px;
}
.Verification_form form .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 40px;
}
.Verification_form form .btn button {
    padding: 10px 30px;
    margin-top: 0px;
    cursor: pointer;
}
.Verification_form form .btn button.first{
    background-color: #1976d2;
    color: white;
    border-radius: 20px;
    transition: all .5s;
}
.Verification_form form .btn button.second{
    background-color: #064f99;
    color: rgb(166, 165, 165);
    border-radius: 20px;
    cursor: not-allowed;
}
.Verification_form form .btn button.first:hover{
    background-color: rgb(30, 30, 177);
}
.Verification_form form  {
    font-size: 16px;
    padding: 10px 0;
    text-align: left;
    margin: 0;
    text-align: center;

}
.Verification_form .content  h2:last-of-type{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    height: 19px;
    color: red;
}
.Verification_form form .btn button.first_xm{
    background-color: rgb(234, 116, 74);
    color: white;
    border-radius: 20px;
    transition: all .5s;
}
.Verification_form form .btn button.last_xm{
    background-color: rgb(163, 81, 51);
    color: rgb(181, 181, 181);
    border-radius: 20px;
    cursor: not-allowed;
}
.Verification_form form .btn button.first_xm:hover{
    background-color: rgb(223, 78, 25);
}
.Verification_form form .content .security {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Verification_form form .box_button p {
    height: 20px;
    text-align: center;
}
.Verification_form form .box_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
}